import Flow from '../src/Flow';

let myFlow = new Flow();

const myData = {
  someData: 16,
};

myFlow.pipe({
		module:'common',
		name: 'doSomeStuff',
	}, myData)
  .toServer()
  ...
  ...
  ...
  .activate((value)=>{
		console.log(value);
	},
  console.error,
  ()=>{
		console.log('done');
	});
